# =========================
# Virtual Environments
# =========================
venv/
.env

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Django
# =========================
db.sqlite3
media/
staticfiles/

# =========================
# Logs
# =========================
*.log

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Editor / IDE
# =========================
.vscode/
.idea/

.history/ 
*.py.bak 
fix_*.py 
